//- Filename: blogs.pug
//- Author: Patricia del Campillo

html
    head
        title Stamps and Stories | Add Blot
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous")
        link(rel="stylesheet" href="/css/styles.css")
    body
        a(href = '/')
            button.back-button Back to home  
        a(href = '../public/testapi.html')
            button.back-button API Tester 
        h1 Stamps and Stories
        h3 Write your blog!
        h4 Reminiscing about any recent travel adventures? Write about it here. 
        div(id='container')
            div(id='form-container')
                if flashMsg.length > 0
                    .alert.alert-danger #{flashMsg}
                form(action="/blogs" method="POST" enctype="multipart/form-data")
                    div.form-group
                        label(for=author) Your Name: 
                        input#city.form-control(type="text" name="author" required)
                    div.form-group
                        label(for=title) Blog title: 
                        input#city.form-control(type="text" name="title" required)
                    div.form-group
                        label(for=city) City: 
                        input#city.form-control(type="text" name="city" required)
                    div.form-group
                        label(for=country) Country: 
                        input#country.form-control(type="text" name="country" required)
                    div.form-group
                        label(for=date) Date of Travel: 
                        input#date.form-control(type="date" name="date" required)
                    div.form-group
                        label(for=blog) Blog about it!: 
                        textarea#blog.form-control(name="blog" rows=3 required)
                    div.form-group
                        label(for=image) Add a picture from the trip: 
                        input#image.form-control(type="file" name="image")
                    button.form-button(type=submit) Post your Blog
            hr
            div#blogs-container
                h2 Travel Blog Entries:
                div#blogs-list
                    each blog in travelBlogs
                        div.blog-entry-container 
                            div.blog-entry-info
                                div.delete-edit-buttons
                                        a.link-secondary(href='/blogs/'+blog._id) Edit Post
                                        form(action=`/blogs/${blog._id}/delete` method="POST")
                                            button(type="submit" class="delete-button") Delete Post
                                h3=`${blog.title}`
                                p=`by ${blog.author}`
                                div#blog-text
                                    p
                                        small
                                            i=`This blog is about my trip to ${blog.city}, ${blog.country}!`
                                    p=`${blog.blog}`                         
                            div.blog-entry-img
                                if blog.image
                                    img.img-fluid(src=blog.image)
                            



    